.headerContainer {
  height: 60px;
  background: #43464b;
}

/* .header {
  max-width: 720px;
  margin: auto;
} */

h1.header {
  font-size: 2em;
}

@media screen and (max-width: 760px) {
  .header {
    max-width: calc(100vw - 64px);
  }

  .header h1 {
    font-size: 30px;
  }
}